h2 {
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}

#profilepic {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    background-color: #4663ac;
}

nav {
    width: 85%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #4663ac;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: 900;
    border-radius: 1em;
}

nav a {
    color: #e1f1fd;
    text-decoration: none;
    margin: 0em .5em 0em .5em;
    padding: .25em 0em .25em 0em;
    transition: 0.0s;
}


nav a:hover{
    scale: 125%;
    rotate: -1deg;
    color: transparent;
    transition: 0.5s;
    left: 0;
    background-image: linear-gradient(to bottom, #e1f1fd, #7e93a7);
    background-clip: text;
    -webkit-background-clip: text;
}

section {
    margin-top: 1em;
    margin-bottom: 3rem;
    background-color: #e1f1fd;
    color: #4663ac;
    border-radius: 2em;
    max-width: 75%;
    padding: 1em;
}

#jobs p {
    padding-left: 2em;
}

.job {
    background-color: #f4fafe;
    border-radius: 2em;
    padding: 2em;
    margin-bottom: 2em;
}

.jobheader {
    display: flex;
    align-items: baseline;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4fafe;
    border-radius: 2em;
}

#skills ul {
    width: 15rem;
}

#project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f4fafe;
    border-radius: 2em;
    padding: 1em;
    margin-bottom: 1em;
}

#projectimgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#projectimgs img {
    height: 10em;
    width: 10em;
    margin: 1em;
    border: 3px solid #4663ac;
    border-radius: 1em;
}

#projectimgs img:hover {
    transition: 1.5s;
    scale: 125%;
}

#project p {
    width: 75%;
}

footer {
    margin-top: 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #4663ac;
}