#propImg {
    width: 300px;
    padding: 30px;
    border-radius: 3em;
}

.property {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
    margin: 30px;
    border: 1px solid bisque;
    border-radius: 3em;
    background-color: bisque;
    justify-content: flex-start;
}

.propDets {
    padding: 30px;
}