body {
    margin-top: 0;
    padding-top: none;
    background-color: #5280c5;
}

header {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: none;
    padding: none;
}

header h1 {
    margin: 0;
    margin-bottom: none;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding: 3rem;
    color: white;
    text-shadow: lightgrey 3px 3px 3px;
    background-color: #000066;
    background-image: url("resources/bigfish.gif");
    background-position: center;
    background-repeat: no-repeat;
}

main {
    margin-top: none;
    padding: 3rem;
    background-color: white;
    color: #000066;
}

main h2 {
    font-size: 2rem;
}

main dl {
    font-size: 1rem;
}

main h3 {
    font-size: 1.5rem;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#content video {
    width: 15rem;
}